@page
@using System.ComponentModel
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Energy Saver</h1>
</div>
<div>
    <table class="table" id="tax-list">
        <thead>
            <tr>
                <th>Month</th>
                <th style="text-align:right">Gas Price</th>
                <th style="text-align:right">Electricity Price</th>
                <th style="text-align:right">Water Price</th>
                <th style="text-align:right">Heating Price</th>
            </tr>
        </thead>
        @{ int currentYear = 0; }
        @foreach (var jsonData in Model.Taxes)
        {
            <tr>
                @if(jsonData.Year != currentYear)
                {
                    <tr>
                    <td colspan=5 style="text-align:left"><b>@jsonData.Year</b></td>
                    </tr>
                    currentYear = jsonData.Year;
                }
                <td style="text-align:left"> @jsonData.Month </td>
                <td style="text-align:right">@jsonData.GasPrice</td>
                <td style="text-align:right">@jsonData.ElectricityPrice</td>
                <td style="text-align:right">@jsonData.WaterPrice</td>
                <td style="text-align:right">@jsonData.HeatingPrice</td>
            </tr>
        }
    </table>
</div>

<!--Atskirai padaryti dujoms, elektrai, vanduo (siltas, saltas), sildymas-->