@page
@using System.ComponentModel
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Energy Saver</h1>
</div>
<div>
    <table class="table" id="tax-list">
        <thead>
            <tr>
                <th style="text-align:left">Month</th>
                <th style="text-align:right">Gas amount</th>
                <th style="text-align:right">Electricity amount</th>
                <th style="text-align:right">Water amount</th>
                <th style="text-align:right">Heating amount</th>
                <th> </th>
            </tr>
        </thead>
        @foreach (var year in Model.Taxes)
        {
            <tr>
                <td colspan=6 style="text-align:left"><b>@year[0].Year</b></td>
            </tr>
            @foreach (var taxRecord in year)
            {
                <tr>
                    <td style="text-align:left">@taxRecord.Month.ToString()</td>
                    <td style="text-align:right">@(taxRecord.GasAmount % 1 == 0 ? (int)taxRecord.GasAmount : taxRecord.GasAmount)</td>
                    <td style="text-align:right">@(taxRecord.ElectricityAmount % 1 == 0 ? (int)taxRecord.ElectricityAmount : taxRecord.ElectricityAmount)</td>
                    <td style="text-align:right">@(taxRecord.WaterAmount % 1 == 0 ? (int)taxRecord.WaterAmount : taxRecord.WaterAmount)</td>
                    <td style="text-align:right">@(taxRecord.HeatingAmount % 1 == 0 ? (int)taxRecord.HeatingAmount : taxRecord.HeatingAmount)</td>
                    <td style="text-align:right"><button class="btn btn-primary btn-sm delBtn" data-id="@taxRecord"> Edit </button></td>
                </tr>
            }
        }
    </table>
</div>