@page
@using System.ComponentModel
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Energy Saver</h1>
</div>
<div>
    <table class="table" id="tax-list">
        <thead>
            <tr>
                <th style="text-align:left">Month</th>
                <th style="text-align:right">Gas amount</th>
                <th style="text-align:right">Electricity amount</th>
                <th style="text-align:right">Water amount</th>
                <th style="text-align:right">Heating amount</th>
            </tr>
        </thead>
        @{ int currentYear = 0; }
        @foreach (var jsonData in Model.Taxes)
        {
            <tr>
                @if(jsonData.Year != currentYear)
                {
                    <tr>
                    <td colspan=5 style="text-align:left"><b>@jsonData.Year</b></td>
                    </tr>
                    currentYear = jsonData.Year;
                }
                <td style="text-align:left"> @jsonData.Month </td>
                <td style="text-align:right">@jsonData.GasAmount</td>
                <td style="text-align:right">@jsonData.ElectricityAmount</td>
                <td style="text-align:right">@jsonData.WaterAmount</td>
                <td style="text-align:right">@jsonData.HeatingAmount</td>
            </tr>
        }
    </table>
</div>

<!--Atskirai padaryti dujoms, elektrai, vanduo (siltas, saltas), sildymas-->