@page
@using System.ComponentModel
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Energy Saver</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <table class="table" id="tax-list">
        <thead>
            <tr>
                <th>Month</th>
                <th>Gas Price</th>
                <th>Electricity Price</th>
                <th>Water Price</th>
                <th>Heating Price</th>
            </tr>
        </thead>
        @{ int currentYear = 0; }
        @foreach (var jsonData in Model.Taxes)
        {
            <tr>
                @if(jsonData.Year != currentYear)
                {
                    <tr>
                    <td colspan=5 style="text-align:center"><b>@jsonData.Year</b></td>
                    </tr>
                    currentYear = jsonData.Year;
                }
                <td>@jsonData.Month</td>
                <td>@jsonData.GasPrice</td>
                <td>@jsonData.ElectricityPrice</td>
                <td>@jsonData.WaterPrice</td>
                <td>@jsonData.HeatingPrice</td>
            </tr>
        }
    </table>
</div>

<!--Atskirai padaryti dujoms, elektrai, vanduo (siltas, saltas), sildymas-->