@page
@using Energy_Saver.Model
@model Energy_Saver.Pages.InputModel

@{
    ViewData["Title"] = "Input";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="text-color">Input</h1>
<hr class="text-color" />

<div class="row justify-content-between">
    <div class="col-md-2">
        <form method="post" id="manualInput">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Taxes.Year" class="control-label"></label>
                <select asp-for="Taxes.Year" class="form-control" form="manualInput">
                @for (int i = DateTime.Now.Year; i > 1919; i--)
                {
                    <option value="@i">@i</option>
                }
                </select>
                <span asp-validation-for="Taxes.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Taxes.Month" class="control-label"></label>
                <select asp-for="Taxes.Month" class="form-control" form="manualInput">
                @foreach (Months i in Enum.GetValues(typeof(Months)))
                {
                    <option value ="@i">@i.ToString()</option>
                }
                </select>
                <span asp-validation-for="Taxes.Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Taxes.GasAmount" class="control-label"> Gas price</label>
                <input asp-for="Taxes.GasAmount" class="form-control" form="manualInput" />
                <span asp-validation-for="Taxes.GasAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Taxes.ElectricityAmount" class="control-label">Electricity amount</label>
                <input asp-for="Taxes.ElectricityAmount" class="form-control" form="manualInput" />
                <span asp-validation-for="Taxes.ElectricityAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Taxes.WaterAmount" class="control-label">Water amount</label>
                <input asp-for="Taxes.WaterAmount" class="form-control" form="manualInput" />
                <span asp-validation-for="Taxes.WaterAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Taxes.HeatingAmount" class="control-label">Heating amount</label>
                <input asp-for="Taxes.HeatingAmount" class="form-control" form="manualInput" />
                <span asp-validation-for="Taxes.HeatingAmount" class="text-danger"></span>
            </div>
            <div>   
            </div>
            <div class="form-group">
                <input type="submit" value="Enter" class="btn btn-primary" style="margin-top: 10px" asp-page-handler="Data" form="manualInput" />
            </div>
        </form>
    </div>
    <div class="col-md-2">
        <form method="post" id="automaticInput">
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <select asp-for="Year" class="form-control" form="automaticInput">
                    @for (int i = DateTime.Now.Year; i > 1919; i--)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                <select asp-for="Month" class="form-control" form="automaticInput">
                    @foreach (Months i in Enum.GetValues(typeof(Months)))
                    {
                        <option value="@i">@i.ToString()</option>
                    }
                </select>
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmailPassword" class="control-label">Email Password</label>
                <input asp-for="UserEmailPassword" class="form-control" type="password" form="automaticInput" required="false"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Extract from email" class="btn btn-primary" style="margin-top: 10px" asp-page-handler="Email" form="automaticInput" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $.validator.setDefaults({
            ignore: []
        });
    </script>
}
