@page
@model Energy_Saver.Pages.StatisticsModel
@using Energy_Saver.Model
@using ChartJSCore.Models;
@{
    ViewData["Title"] = "Statistics";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="text-color">Statistics</h1>
<div class="container-fluid text-color">
    <fieldset class="border p-2">
    <legend class="float-none w-auto">Yearly</legend>
    <form asp-page-handler="year" method="post">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="form-floating">
                    <select class="form-select" name="Year" id="yearDropdown" onchange="editYear()">
                        @for (int i = DateTime.Now.Year; i > 1919; i--)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <label for="yearDropdown">Year</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <canvas id="chart"></canvas>
            </div>
        </div>
    </form>
    </fieldset>
    <fieldset class="border p-2">
    <legend class="float-none w-auto">Monthly</legend>
    <form asp-page-handler="month" method="post">
        @Html.AntiForgeryToken()
        <div class="row g-2">
            <div class="col-lg-3 col-sm-6">
                <div class="form-floating">
                    <select class="form-select" name="Month" id="monthDropdown" onchange="editMonth()">
                        @foreach (Months month in Enum.GetValues(typeof(Months)))
                        {
                            <option value="@month">@month</option>
                        }
                    </select>
                    <label for="monthDropDown">Month</label>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="form-floating">
                    <select class="form-select" name="chartType" id="chartTypeDropdown" onchange="editMonth()">
                        <option value="@Enums.ChartType.Bar">@Enums.ChartType.Bar</option>
                        <option value="@Enums.ChartType.Line">@Enums.ChartType.Line</option>
                    </select>
                    <label for="chartTypeDropdown">Chart type</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <canvas id="monthChart"></canvas>
            </div>
        </div>
    </form>
    </fieldset>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
         @Html.Raw(Model.YearChart.CreateChartCode("chart"));
         @Html.Raw(Model.MonthChart.CreateChartCode("monthChart"));
    </script>
    <script>
        function editYear() {
            var selectedYear = $("#yearDropdown").val();
            var selectedType = $("#chartTypeDropdown").val();
            $.ajax({
                type: "POST",
                url: "?handler=Year",
                data: { 
                    selectedYear : selectedYear,
                    selectedType: selectedType
                },
                headers: {
                    RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (result) {
                    var yearChart = Chart.getChart("chart");
                    yearChart.data = JSON.parse(result.yearChart).data;
                    yearChart.update();

                    var monthContext = document.getElementById("monthChart");
                    var monthChart = Chart.getChart("monthChart");
                    monthChart.destroy();
                    monthChart = new Chart(monthContext, JSON.parse(result.monthChart));

                    $("#monthDropdown").val("January");
                },
                error: function () {
                    alert("there was an error");
                }
            });
        }
        function editMonth() {
            var selectedMonth = $("#monthDropdown").val();
            var selectedYear = $("#yearDropdown").val();
            var selectedType = $("#chartTypeDropdown").val();
            $.ajax({
                type: "POST",
                url: "?handler=Month",
                data: {
                    selectedMonth: selectedMonth,
                    selectedYear: selectedYear,
                    selectedType: selectedType
                },
                headers: {
                    RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (result) {
                    var context = document.getElementById("monthChart");
                    var chart = Chart.getChart("monthChart");
                    chart.destroy();
                    chart = new Chart(context, JSON.parse(result));
                },
                error: function () {
                    alert("there was an error");
                }
            });
        }
        
    </script>
}
