@page
@model Energy_Saver.Pages.TaxesPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Taxes[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taxes[0].Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taxes[0].GasAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taxes[0].ElectricityAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taxes[0].WaterAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taxes[0].HeatingAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Taxes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GasAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElectricityAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeatingAmount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
